html {
    font-size: 100%;
}

body {
    color: black;
    font-family: sans-serif;
    background: #f0f8ff;
}


header{
    padding: 1rem;
    max-width: 1000px;
    margin: 0.5rem auto 0;
    height: 80px;
    text-align: center;
}

.bar{
    display: none;
}


.mainheader{
    display: flex;
}

.logo{
    height: 30%;
}


.header-icon{
    display: flex;
    margin: 0 0.5rem 0 auto;
}

.header-icon i{
    margin-top: 0.5rem;
    margin-left: 1.75rem;
}

.fujisan h2{
    font-family: "senobi-gothic", sans-serif;
    font-weight: 600;
    font-style: normal;
    background-image: linear-gradient(transparent 40%, rgba(255,255,255,.5) 60%);
    display: inline-block;
}

.fujisan h4{
    font-family: "senobi-gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-image: linear-gradient(transparent 40%, rgba(255,255,255,.5) 60%);
    padding-right: 0.3rem;
    display: inline-block;
}

.about h2{
    font-family: "senobi-gothic", sans-serif;
    font-weight: 600;
    font-style: normal;
    padding-left: 0.75lvh;
    background-image: linear-gradient(transparent 30%, rgba(255,255,255,.5) 70%);
}

.about p{
    font-family: "senobi-gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.article h2{
    font-family: "senobi-gothic", sans-serif;
    font-weight: 600;
    font-style: normal;
    padding-left: 0.75lvh;
}

.article h3{
    font-family: "senobi-gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-bottom: 0.75lvh;
    background-image: linear-gradient(transparent 90%, rgba(255,255,255,.3) 10%);
    display: inline-block;
}

.article01{
    text-align: center;
}


.article02{
    text-align: center;
}

.article03{
    text-align: center;
}

.mainfooter{
    text-align: center;
    padding: 3rem;
}

.footer-icon{
    justify-content: center;
    display: flex;
}

.footer-icon i{
    margin: 1.75rem;
}

.mainfooter p{
    font-family: "senobi-gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/*Smartphone Size*/
@media (max-width: 600px) {

    section{
        height: 80lvh;
        scroll-snap-align: start;
        scroll-snap-type: y;
        background-size: cover;
        background-repeat: no-repeat;
        background-position:left center;
    }

    .fujisan{
        background-image: url('1.5.jpg'), linear-gradient(161deg, transparent 70%, #93c1e9 70%, transparent 73%), linear-gradient(205deg, transparent 70%, #93c1e9 70%, transparent 72%);
        background-repeat: no-repeat;
        background-position: right top, center, bottom;
        background-size: 80lvw, 180lvw, 380lvw;
        padding: 1rem 1rem 15rem;
    }

    .fujisan h2{
        font-size: 5lvw;
        margin: 17lvw 0 7lvw;
    }

    .fujisan h4{
        font-size: 3lvw;
        margin: 17lvw 0 12lvw;
    }

    .about{
        background-image: linear-gradient(transparent 10%, #b0c4de 90%), linear-gradient(184deg, transparent 70%, #1f3f59 70%, transparent 73%), linear-gradient(145deg, transparent 70%, #305879 70%, transparent 73%);
        background-position: center, bottom, bottom;
        background-size: auto, 1000lvw, 150lvw;
    }

    .about h2{
        font-size: 1.5rem;
        text-align: center;
        margin: 3lvw 1lvw 1lvw 1lvw;
    }

    .person-image{
        margin: 0 auto;
        text-align: center;
    }

    .personal-image{
        height: 20lvw;
        border-radius: 50% 50% 0 50%;
        margin: 1.5rem;
    }

    .person-image p{
        text-align: center;
        font-size: 1rem;
        margin: 2lvw 1lvw 1lvw 1lvw;
    }

    .article{
        background-image: linear-gradient(183deg, #b0c4de 30%,  #77a9ca 93%, #577d97 20%);
    }

    .article h2{
        font-size: 1.5rem;
        text-align: center;
        padding-top: 1lvw;
        margin: 0 1lvw 1lvw 1lvw;
        background-image: linear-gradient(transparent 30%, rgba(255,255,255,.5) 70%);
    }


    .article img{
        height: 15lvh;        
        border-radius: 15%;
    }

    .article01-image{
        margin: 6lvh 1lvw 3lvw 1lvw;
    }

    .article02-image{
        margin: 4lvh 1lvw 3lvw 1lvw;
    }

    .article03-image{
        margin: 4lvh 1lvw 3lvw 1lvw;
    }

    .article h3{
        font-size: 1.5rem;
    }


    .article-image{
        justify-content: left;
    }

    .mainfooter{
        background-image: linear-gradient(179deg,#577d97 3%, #77a9ca 98%)
    }

}

/*Desktop Size*/
@media (min-width: 600px) {

    section{
        height: 110lvh;
        scroll-snap-align: start;
        background-size: cover;
        background-repeat: no-repeat;
        background-position:left center;
    }

    .fujisan{
        background-image: url('1.jpg'), linear-gradient(173deg, transparent 70%, #93c1e9 70%, transparent 73%), linear-gradient(193deg, transparent 70%, #93c1e9 70%, transparent 73%);
        background-repeat: no-repeat;
        background-position: right top, center, bottom;
        background-size: 70lvw, 180lvw, 380lvw;
        padding: 3.5rem 1.5rem 12rem;
    }

    .fujisan h2{
        font-size: 2rem;
        margin: 3.5lvw 2.75lvw 5lvw;
    }
    .fujisan h4{
        font-size: 1.25rem;
        margin: 6.5lvw 2.75lvw 12lvw;
    }

    .about{
        background-image: linear-gradient(transparent 10%, #b0c4de 90%), linear-gradient(182deg, transparent 70%, #173248 70%, transparent 73%), linear-gradient(160deg, transparent 70%, #173248 70%, transparent 73%);
        background-position: center, bottom, bottom;
        background-size: auto, 1000lvw, 150lvw;
    }

    .about h2{
        font-size: 3.5rem;
        margin: 7lvw 1lvw 1dvw 30lvw;
    }

    .person-image{
        display: flex;
    }

    .personal-image{
        height: 20lvw;
        border-radius: 50% 50% 0 50%;
        margin: 2rem 1rem 5rem 3rem;
    }

    .person-image p{
        font-size: 1.5rem;
        margin: 5lvw 1lvw 1lvw 1.5lvw;
    }

    .article{
        background-image: linear-gradient(181deg, #b0c4de 20%,  #77a9ca 93%, #577d97 5%);
    }

    .article h2{
        text-align: center;
        font-size: 3.5rem;
        margin: 0 1lvw 1lvw 30lvw;
        background-image: linear-gradient(transparent 30%, rgba(255,255,255,.5) 70%);
    }

    .article img{
        height: 20lvw;
        border-radius: 20%;
    }

    .article01-image{
        margin: 10lvh 2lvw 3.5lvw 2lvw;
    }

    .article02-image{
        margin: 17lvh 2lvw 3.5lvw 2lvw;
    }

    .article03-image{
        margin: 24lvh 2lvw 3.5lvw 2lvw;
    }

    .article h3{
        font-size: 2rem;
    }


    .article-image{
        justify-content: center;
        display: flex;
    }

    .mainfooter{
        background-image: linear-gradient(179deg,#577d97 3%, #77a9ca 98%)
    }

}
